body {
    background-color: #12143d;;
    color: #ffffff;
    padding: 10px;
}

#userArea {
    margin-top: -9px;
}

.nameButton {
    margin-right: 5px;
    margin-bottom: 5px;
}

p {
    color: #12143d;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2px;
}

.card {  
    border: none;
    margin-bottom: 10px;
    background-color: #ffffff;
}